<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="https://t4.ftcdn.net/jpg/00/64/67/63/360_F_64676383_LdbmhiNM6Ypzb3FM4PPuFP9rHe7ri8Ju.jpg" />
    <ion-card-header>
      <ion-card-subtitle>admin@email.com</ion-card-subtitle>
      <ion-card-title>John Doe</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-list>
    <ion-item>
      <ion-icon name="accessibility-outline" slot="start"></ion-icon>
      <ion-label>Personal Information</ion-label>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-icon name="fast-food-outline" slot="start"></ion-icon>
      <ion-label>My Recipes</ion-label>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-icon name="barbell-outline" slot="start"></ion-icon>
      <ion-label>My Workouts</ion-label>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-icon name="fitness-outline" slot="start"></ion-icon>
      <ion-label>Dietary Preferences</ion-label>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-icon name="ribbon-outline" slot="start"></ion-icon>
      <ion-label>Goals</ion-label>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-item>
  </ion-list>
  <ion-button expand="block" color="success">Logout</ion-button>
</ion-content>
