<ion-header>
  <ion-toolbar>
    <ion-title>addFood</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Done</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar [(ngModel)]="searchQuery" (search)="searchFood(searchQuery)" animated placeholder="What did you eat today?" autocorrect autocomplete></ion-searchbar>
  <ion-list *ngIf="searchResults.length > 0">
    <ion-item *ngFor="let r of searchResults">
      <ion-label>
        <h2>{{r.food_name}} | {{r.serving_qty}} {{r.serving_unit}}</h2>
        <p>
          Protein<ion-badge color="primary">{{r.nf_protein}}</ion-badge>
          Fat<ion-badge color="secondary">{{r.nf_total_fat}}</ion-badge>
          Carbs<ion-badge color="tertiary">{{r.nf_total_carbohydrate}}</ion-badge>
        </p>
      </ion-label>
      <ion-checkbox slot="start"></ion-checkbox>
      <ion-avatar slot="start">
        <img [src]="r.photo.thumb">
      </ion-avatar>
      <ion-note slot="end">{{r.nf_calories}}</ion-note>
    </ion-item>
  </ion-list>
</ion-content>
