ion-label {
    text-transform: capitalize;
}

ion-badge {
    vertical-align: bottom; 
    margin-left: 0.2em;
    margin-right: 0.1em;
    padding: 0.4em;
    font-size: 0.8em;
}

ion-note {
    vertical-align: bottom;
}

h4 {
    margin-left: 0.5em;
}