h4, h6 {
    margin-left: 0.5em;
}

ion-card {
    max-height: 95%;
    display: flex;
    flex-direction: column;
}

ion-card-content {
    overflow: hidden;
    overflow-y: auto;
    ::-webkit-scrollbar {
      display: none;
    }
  }

.charts {
    display: inline-block;
    text-align: center;
    position: relative;
}

.absolute-center {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

ion-select-option, ion-select, .alert-radio-label {
    text-transform: capitalize !important;
}

.my-custom-interface .select-interface-option {
    color: red;
  }

  .popover {
    text-transform: capitalize !important;
}

ion-label, ion-select {
    font-size: 0.9em !important;
}

ion-input {
    display: inline-block !important;
    width: 1.5em !important;
    border: 1px solid var(--color-dark);
    border-radius: 1em;
    margin: 0 0.5em;
    text-align: center;
}

.no-minus {
    visibility: hidden;
}

#nutri {
    display: flex;
    align-items: center;
    align-content: center;
    justify-items: center;
}

#key {
    margin-left: 2em;
    font-size: 0.9em;
}

#serving-input {
    width: 70%;
    display: inline-block;

    ion-label {
        margin-right: 0 !important;
        display: inline-block !important;
    }
}

#quantity-input {
    width: 30%;
    display: inline-flex;
    align-items: center;
    text-align: center;

    ion-icon {
        font-size: 1.5em;
        vertical-align: middle;
    
        &:hover {
            color: var(--color-purple);
        }
    }
}

#inputs {
    margin-top: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

p ion-item {
    padding: 0;
    margin-left: -1em;
}

ion-chip {
    margin: auto 0.2em;
    font-size: 0.85em;
    padding-inline: 0.2em 0.4em;
    padding: 0.2em 0.6em;
}

#percent span {
    font-size: 1.3em;
    margin-bottom: -0.2em;
}

#proteinChart, #key {
    display: inline-block;
}

ion-icon {
    vertical-align: middle;
}