<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">
        <ion-icon name="checkmark-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Edit Food</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-img [src]="food.photo.highres"></ion-img>
    <ion-card-header>
      <ion-card-title>{{food.food_name}}</ion-card-title>
      <ion-card-subtitle>{{food.nf_calories}} calories</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <div>
        <h6>Macros</h6>
        <div id="proteinChart" class="charts" style="width: 33%; height: 33%;">
          <canvas id="proteinCanvas" width="1" height="1"></canvas>
          Protein
          <div class="absolute-center text-center">
            <p id="percent">{{percentProtein}}%</p>
          </div>
        </div>
        <div id="fatChart" class="charts" style="width: 33%; height: 33%;">
          <canvas id="fatCanvas" width="1" height="1"></canvas>
          Fat
          <div class="absolute-center text-center">
            <p id="percent">{{percentFat}}%</p>
          </div>
        </div>
        <div id="carbsChart" class="charts" style="width: 33%; height: 33%;">
          <canvas id="carbsCanvas" width="1" height="1"></canvas>
          Carbs
          <div class="absolute-center text-center">
            <p id="percent">{{percentCarbs}}%</p>
          </div>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
