h4, h6 {
    margin-left: 0.5em;
}

ion-card {
    max-height: 95%;
    display: flex;
    flex-direction: column;
}

ion-card-content {
    overflow: hidden;
    overflow-y: auto;
    ::-webkit-scrollbar {
      display: none;
    }
  }

.charts {
    display: inline-block;
    text-align: center;
    position: relative;
}

canvas {
    width: 100% !important;
    height: 100% !important;
    border: 1px solid red
}

.absolute-center {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}