<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">
        <ion-icon name="checkmark-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Add Water</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <div>
      <canvas id="waterCanvas" style="width: 10vw;"></canvas>
      <div class="absolute-center text-center">
        <p>{{percentWater}}%</p>
        <p>{{amountWater}}ml</p>
      </div>
    </div>

    <!--<p id="drank">You have drank {{amountWater}}ml of water today.</p>
    <p id="percent"> of goal achieved!</p>-->

    <div id="water-input">
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-input placeholder="Enter Amount (ml)"></ion-input>
      <ion-icon name="remove-circle-outline"></ion-icon>
    </div>
    <div id="chips">
      <ion-chip>+250ml</ion-chip>
      <ion-chip>+500ml</ion-chip>
      <ion-chip>+1000ml</ion-chip>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-button expand="full" color="secondary">Done</ion-button>
</ion-footer>
