#waterCanvas{
    width: 50% !important;
    height: 50% !important;
    margin: 0 auto;
}

.absolute-center {
    position: relative;
  margin: 0 auto;
  top: 50% !important;
  transform: translateY(-75%);
  width: 100%;
  text-align: center;
}
  
.text-center{
    text-align: center;
}

p {
    text-align: center;
}

#percent {
    text-transform: uppercase;
    font-size: medium;
}

ion-input {
    display: inline-block !important;
    width: 5em !important;
    border: 1px solid var(--color-dark);
    border-radius: 1em;
    margin: 0 0.5em;
    text-align: center;
}

ion-icon {
    font-size: 1.5em;
    vertical-align: middle;
}

#water-input {
    display: flex;
    align-items: center;
    margin-top: 3em !important;
}

#chips {
    display: flex;
    justify-content: center;
    margin-top: 0.5em;
}