<ion-header>
  <ion-toolbar>
    <ion-title>Diary</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>  
  <mbsc-eventcalendar [eventTemplate]="eventTemplate" [data]="myEvents" [options]="eventSettings"></mbsc-eventcalendar>
</ion-content>

<ng-template #eventTemplate let-data>
  <div class="md-full-event">
      <div class="md-full-event-details">
          <div class="md-full-event-title">{{data.title}}
            <ion-note slot="end"><ion-icon name="flash-outline"></ion-icon> 234 calories</ion-note>
          </div>
      </div>
      <ion-list id="resultsList" *ngIf="foodEntries.length > 0">
        <ion-item-sliding (click)="openEditFoodModal(r)" *ngFor="let r of foodEntries" #slidingItem>
          <ion-item>
          <ion-label>
            <h2>{{r.food_name}} | {{r.serving_qty}} {{r.serving_unit}}</h2>
          </ion-label>
          <ion-avatar slot="start">
            <img [src]="r.photo.thumb">
          </ion-avatar>
          <ion-note slot="end">{{r.nf_calories}}</ion-note>
          </ion-item>
    
          <ion-item-options (ionSwipe)="addFood(r, slidingItem)" side="end">
            <ion-item-option expandable (click)="addFood(r, slidingItem)" color="danger">Remove</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
  </div>
  
</ng-template>