<ion-header>
  <ion-toolbar>
    <ion-title>Diary</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>  
  <ion-card color="primary">
    <ion-card-header>
      <ion-card-subtitle>200 calories remaining</ion-card-subtitle>
      <ion-card-title>{{totals.totalCals - totals.exerciseCals}}/693 kcal</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-item color="primary">
        <ion-icon name="fast-food-outline" slot="start"></ion-icon>
        <ion-label>Food</ion-label>
        <ion-note slot="end" color="light">{{totals.totalCals}}kcal</ion-note>
      </ion-item>
      <ion-item color="primary">
        <ion-icon name="barbell-outline" slot="start"></ion-icon>
        <ion-label>Exercise</ion-label>
        <ion-note slot="end" color="light">{{totals.exerciseCals}}kcal</ion-note>
      </ion-item>
      <ion-item color="primary">
        <ion-icon name="water-outline" slot="start"></ion-icon>
        <ion-label>Water</ion-label>
        <ion-note slot="end" color="light">{{totals.water}}ml</ion-note>
      </ion-item>
      <ion-button id="nutri" slot="end" color="secondary" size="small">View Nutrition</ion-button>
      <ion-button slot="end" color="success" size="small">Complete Log</ion-button>
    </ion-card-content>
  </ion-card>
  <mbsc-eventcalendar [(selectedDate)]="myDate" [eventTemplate]="eventTemplate" [data]="myEvents" [options]="eventSettings"></mbsc-eventcalendar>
</ion-content>

<ng-template #eventTemplate let-data>
  <!-- breakfast -->
  <div *ngIf="data.title == 'Breakfast'" class="md-full-event">
      <div class="md-full-event-details">
          <div class="md-full-event-title">{{data.title}}
            <ion-note slot="end"><ion-icon name="flash-outline"></ion-icon> {{totals.breakfastCals}} calories</ion-note>
          </div>
      </div>
      <ion-list id="resultsList" *ngIf="breakfast.length > 0">
        <ion-item-sliding (click)="openEditFoodModal(r)" *ngFor="let r of breakfast" #slidingItem>
          <ion-item>
          <ion-label>
            <h2>{{r.food_name}} | {{r.serving_qty}} {{r.serving_unit}}</h2>
          </ion-label>
          <ion-avatar slot="start">
            <img [src]="r.photo.thumb">
          </ion-avatar>
          <ion-note slot="end">{{r.nf_calories}}</ion-note>
          </ion-item>
    
          <ion-item-options (ionSwipe)="deleteFoodEntry(r, slidingItem)" side="end">
            <ion-item-option expandable (click)="deleteFoodEntry(r, slidingItem)" color="danger">Remove</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
  </div>

  <!-- lunch -->
  <div *ngIf="data.title == 'Lunch'" class="md-full-event">
    <div class="md-full-event-details">
        <div class="md-full-event-title">{{data.title}}
          <ion-note slot="end"><ion-icon name="flash-outline"></ion-icon> {{totals.lunchCals}} calories</ion-note>
        </div>
    </div>
    <ion-list id="resultsList" *ngIf="lunch.length > 0">
      <ion-item-sliding (click)="openEditFoodModal(r)" *ngFor="let r of lunch" #slidingItem>
        <ion-item>
        <ion-label>
          <h2>{{r.food_name}} | {{r.serving_qty}} {{r.serving_unit}}</h2>
        </ion-label>
        <ion-avatar slot="start">
          <img [src]="r.photo.thumb">
        </ion-avatar>
        <ion-note slot="end">{{r.nf_calories}}</ion-note>
        </ion-item>
  
        <ion-item-options (ionSwipe)="deleteFoodEntry(r, slidingItem)" side="end">
          <ion-item-option expandable (click)="deleteFoodEntry(r, slidingItem)" color="danger">Remove</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
</div>

  <!-- dinner -->
  <div *ngIf="data.title == 'Dinner'" class="md-full-event">
    <div class="md-full-event-details">
        <div class="md-full-event-title">{{data.title}}
          <ion-note slot="end"><ion-icon name="flash-outline"></ion-icon> {{totals.dinnerCals}} calories</ion-note>
        </div>
    </div>
    <ion-list id="resultsList" *ngIf="dinner.length > 0">
      <ion-item-sliding (click)="openEditFoodModal(r)" *ngFor="let r of dinner" #slidingItem>
        <ion-item>
        <ion-label>
          <h2>{{r.food_name}} | {{r.serving_qty}} {{r.serving_unit}}</h2>
        </ion-label>
        <ion-avatar slot="start">
          <img [src]="r.photo.thumb">
        </ion-avatar>
        <ion-note slot="end">{{r.nf_calories}}</ion-note>
        </ion-item>
  
        <ion-item-options (ionSwipe)="deleteFoodEntry(r, slidingItem)" side="end">
          <ion-item-option expandable (click)="deleteFoodEntry(r, slidingItem)" color="danger">Remove</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
</div>

  <!-- snacks -->
  <div *ngIf="data.title == 'Snacks'" class="md-full-event">
    <div class="md-full-event-details">
        <div class="md-full-event-title">{{data.title}}
          <ion-note slot="end"><ion-icon name="flash-outline"></ion-icon> {{totals.snacksCals}} calories</ion-note>
        </div>
    </div>
    <ion-list id="resultsList" *ngIf="snacks.length > 0">
      <ion-item-sliding (click)="openEditFoodModal(r)" *ngFor="let r of snacks" #slidingItem>
        <ion-item>
        <ion-label>
          <h2>{{r.food_name}} | {{r.serving_qty}} {{r.serving_unit}}</h2>
        </ion-label>
        <ion-avatar slot="start">
          <img [src]="r.photo.thumb">
        </ion-avatar>
        <ion-note slot="end">{{r.nf_calories}}</ion-note>
        </ion-item>
  
        <ion-item-options (ionSwipe)="deleteFoodEntry(r, slidingItem)" side="end">
          <ion-item-option expandable (click)="deleteFoodEntry(r, slidingItem)" color="danger">Remove</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
</div>

  <!-- exercise -->
  <div *ngIf="data.title == 'Exercise'" class="md-full-event">
    <div class="md-full-event-details">
        <div class="md-full-event-title">{{data.title}}
          <ion-note slot="end"><ion-icon name="flash-outline"></ion-icon> {{totals.exerciseCals}} calories</ion-note>
        </div>
    </div>
    <ion-list id="resultsList" *ngIf="exercise.length > 0">
      <ion-item-sliding (click)="openEditFoodModal(r)" *ngFor="let r of exercise" #slidingItem>
        <ion-item>
        <ion-label>
          <h2>{{r.name}} | {{r.duration_min}}mins</h2>
        </ion-label>
        <ion-avatar slot="start">
          <img [src]="r.photo.thumb">
        </ion-avatar>
        <ion-note slot="end">{{r.nf_calories}}</ion-note>
        </ion-item>
  
        <ion-item-options (ionSwipe)="deleteExerciseEntry(r, slidingItem)" side="end">
          <ion-item-option expandable (click)="deleteExerciseEntry(r, slidingItem)" color="danger">Remove</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
</div>
  
</ng-template>