<ion-header>
  <ion-toolbar>
    <ion-title>sign-up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="signUpForm" (ngSubmit)="signUp(signUpForm.value)">
    <span class="error ion-padding" *ngIf="signUpError">
      {{signUpError}}
    </span>

    <!-- name -->
    <ion-item lines="full">
      <ion-label position="floating">Name</ion-label>
      <ion-input formControlName="name" type="text"></ion-input>
    </ion-item>
    <span class="error ion-padding" *ngIf="errorControl.name.errors?.required">
      Name is required.
    </span>

    <!-- surname -->
    <ion-item lines="full">
      <ion-label position="floating">Surname</ion-label>
      <ion-input formControlName="surname" type="text"></ion-input>
    </ion-item>
    <span class="error ion-padding" *ngIf="errorControl.surname.errors?.required">
      Surname is required.
    </span>
    
    <!-- email -->
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="email" type="email"></ion-input>
    </ion-item>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.email.errors?.required">
      Email is required.
    </span>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.email.errors?.pattern">
      Please provide valid email id.
    </span>

    <!-- password -->
    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input formControlName="password" type="password"></ion-input>
    </ion-item>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.password.errors?.required">
      Password is required.
    </span>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.password.errors?.minLength">
      Please provide valid password length.
    </span>

    <!-- confirm password -->
    <ion-item lines="full">
      <ion-label position="floating">Confirm Password</ion-label>
      <ion-input formControlName="passwordConf" type="password"></ion-input>
    </ion-item>
    <span class="error ion-padding" *ngIf="errorControl.passwordConf.errors?.required">
      Password confirmation is required.
    </span>
    <span class="error ion-padding" *ngIf="errorControl.passwordConf.errors?.mustMatch">
      Passwords do not match.
    </span>

    <ion-row>
      <ion-col>
        <ion-button [disabled]="signUpForm.invalid" type="submit" color="danger" expand="block">Submit</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>

