ion-slides {
    height: 100%;
}

.slide {
    padding: 1em;
}

ion-button {
    float: right;
    margin-top: 2em;

    ion-icon {
        margin-left: 0.2em;
    }
}

ion-range {
    padding-left: 0;

    ion-label[slot="start"] {
        width: 5em;
    }
}